/MeanMqProject/ClientFacingWebApi/bin/Repository.pdb
/MeanMqProject/ClientFacingWebApi/bin/ClientFacingWebApi.dll
/MeanMqProject/ClientFacingWebApi/bin/ClientFacingWebApi.dll.config
/MeanMqProject/ClientFacingWebApi/bin/ClientFacingWebApi.pdb
/MeanMqProject/ClientFacingWebApi/bin/Domain.dll
/MeanMqProject/ClientFacingWebApi/bin/Domain.pdb
/MeanMqProject/ClientFacingWebApi/bin/DomainServices.dll
/MeanMqProject/ClientFacingWebApi/bin/DomainServices.pdb
/MeanMqProject/ClientFacingWebApi/bin/RabbitMQPubSubNode.dll
/MeanMqProject/ClientFacingWebApi/bin/RabbitMQPubSubNode.pdb
/MeanMqProject/ClientFacingWebApi/bin/Repository.dll
/MeanMqProject/ClientFacingWebApi/obj/Debug/ClientFacingWebApi.csprojResolveAssemblyReference.cache
/MeanMqProject/ClientFacingWebApi/obj/Debug/ClientFacingWebApi.dll
/MeanMqProject/ClientFacingWebApi/obj/Debug/ClientFacingWebApi.pdb
/MeanMqProject/ClientFacingWebApi/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/ClientFacingWebApi/obj/Debug/ClientFacingWebApi.csproj.FileListAbsolute.txt
/MeanMqProject/Domain/bin/Debug/Domain.pdb
/MeanMqProject/Domain/bin/Debug/Domain.dll
/MeanMqProject/Domain/obj/Debug/Domain.pdb
/MeanMqProject/Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/Domain/obj/Debug/Domain.csproj.FileListAbsolute.txt
/MeanMqProject/Domain/obj/Debug/Domain.dll
/MeanMqProject/DomainServices/bin/Debug/Repository.pdb
/MeanMqProject/DomainServices/bin/Debug/Domain.dll
/MeanMqProject/DomainServices/bin/Debug/Domain.pdb
/MeanMqProject/DomainServices/bin/Debug/DomainServices.dll
/MeanMqProject/DomainServices/bin/Debug/DomainServices.pdb
/MeanMqProject/DomainServices/bin/Debug/RabbitMQPubSubNode.dll
/MeanMqProject/DomainServices/bin/Debug/RabbitMQPubSubNode.pdb
/MeanMqProject/DomainServices/bin/Debug/Repository.dll
/MeanMqProject/DomainServices/obj/Debug/DomainServices.pdb
/MeanMqProject/DomainServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/DomainServices/obj/Debug/DomainServices.csproj.FileListAbsolute.txt
/MeanMqProject/DomainServices/obj/Debug/DomainServices.csprojResolveAssemblyReference.cache
/MeanMqProject/DomainServices/obj/Debug/DomainServices.dll
/MeanMqProject/DomainTests/bin/Debug/RabbitMQPubSubNode.dll
/MeanMqProject/DomainTests/bin/Debug/RabbitMQPubSubNode.pdb
/MeanMqProject/DomainTests/bin/Debug/Repository.dll
/MeanMqProject/DomainTests/bin/Debug/Repository.pdb
/MeanMqProject/DomainTests/bin/Debug/Domain.dll
/MeanMqProject/DomainTests/bin/Debug/Domain.pdb
/MeanMqProject/DomainTests/bin/Debug/DomainTests.dll
/MeanMqProject/DomainTests/bin/Debug/DomainTests.pdb
/MeanMqProject/DomainTests/obj/Debug/TestsForDomain.csproj.FileListAbsolute.txt
/MeanMqProject/DomainTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/DomainTests/obj/Debug/DomainTests.dll
/MeanMqProject/DomainTests/obj/Debug/DomainTests.pdb
/MeanMqProject/*.suo
/MeanMqProject/RabbitMQPubSubNode/bin/Debug/Repository.pdb
/MeanMqProject/RabbitMQPubSubNode/bin/Debug/Domain.dll
/MeanMqProject/RabbitMQPubSubNode/bin/Debug/Domain.pdb
/MeanMqProject/RabbitMQPubSubNode/bin/Debug/RabbitMQPubSubNode.dll
/MeanMqProject/RabbitMQPubSubNode/bin/Debug/RabbitMQPubSubNode.pdb
/MeanMqProject/RabbitMQPubSubNode/bin/Debug/Repository.dll
/MeanMqProject/RabbitMQPubSubNode/obj/Debug/RabbitMQPubSubNode.pdb
/MeanMqProject/RabbitMQPubSubNode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/RabbitMQPubSubNode/obj/Debug/RabbitMQPubSubNode.csproj.FileListAbsolute.txt
/MeanMqProject/RabbitMQPubSubNode/obj/Debug/RabbitMQPubSubNode.csprojResolveAssemblyReference.cache
/MeanMqProject/RabbitMQPubSubNode/obj/Debug/RabbitMQPubSubNode.dll
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/Repository.pdb
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/Domain.dll
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/Domain.pdb
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/RabbitMQPubSubNode.dll
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/RabbitMQPubSubNode.pdb
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/RabbitMQPubSubNodeGui.exe
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/RabbitMQPubSubNodeGui.pdb
/MeanMqProject/RabbitMQPubSubNodeGui/bin/Debug/Repository.dll
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.csproj.FileListAbsolute.txt
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.csproj.GenerateResource.Cache
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.csprojResolveAssemblyReference.cache
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.exe
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.Form1.resources
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.pdb
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/RabbitMQPubSubNodeGui.Properties.Resources.resources
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MeanMqProject/RabbitMQPubSubNodeGui/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/Repository.pdb
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/Domain.dll
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/Domain.pdb
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/RabbitMQPubSubNode.dll
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/RabbitMQPubSubNode.pdb
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/RabbitMQPubSubNodeTest.dll
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/RabbitMQPubSubNodeTest.pdb
/MeanMqProject/RabbitMQPubSubNodeTest/bin/Debug/Repository.dll
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/RabbitMQPubSubNodeTest.csproj.FileListAbsolute.txt
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/RabbitMQPubSubNodeTest.csprojResolveAssemblyReference.cache
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/RabbitMQPubSubNodeTest.dll
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/RabbitMQPubSubNodeTest.pdb
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/TestsForRabbitMQPubSubNode.csproj.FileListAbsolute.txt
/MeanMqProject/RabbitMQPubSubNodeTest/obj/Debug/TestsForRabbitMQPubSubNode.csprojResolveAssemblyReference.cache
/MeanMqProject/Repository/bin/Debug/Domain.dll
/MeanMqProject/Repository/bin/Debug/Domain.pdb
/MeanMqProject/Repository/bin/Debug/Repository.dll
/MeanMqProject/Repository/bin/Debug/Repository.pdb
/MeanMqProject/Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/Repository/obj/Debug/Repository.csproj.FileListAbsolute.txt
/MeanMqProject/Repository/obj/Debug/Repository.csprojResolveAssemblyReference.cache
/MeanMqProject/Repository/obj/Debug/Repository.dll
/MeanMqProject/Repository/obj/Debug/Repository.pdb
/MeanMqProject/Repository/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MeanMqProject/Repository/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MeanMqProject/Repository/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MeanMqProject/TestsForRepository/bin/Debug/TestsForRepository.pdb
/MeanMqProject/TestsForRepository/bin/Debug/Domain.dll
/MeanMqProject/TestsForRepository/bin/Debug/Domain.pdb
/MeanMqProject/TestsForRepository/bin/Debug/Repository.dll
/MeanMqProject/TestsForRepository/bin/Debug/Repository.pdb
/MeanMqProject/TestsForRepository/bin/Debug/TestsForRepository.dll
/MeanMqProject/TestsForRepository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MeanMqProject/TestsForRepository/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MeanMqProject/TestsForRepository/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MeanMqProject/TestsForRepository/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MeanMqProject/TestsForRepository/obj/Debug/TestsForRepository.csproj.FileListAbsolute.txt
/MeanMqProject/TestsForRepository/obj/Debug/TestsForRepository.csprojResolveAssemblyReference.cache
/MeanMqProject/TestsForRepository/obj/Debug/TestsForRepository.dll
/MeanMqProject/TestsForRepository/obj/Debug/TestsForRepository.pdb
